.container {
  height: 100vh;
}

.card {
  border-radius: 10px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-outline-primary {
  color: #4267b2;
  border-color: #4267b2;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn-outline-danger {
  color: #db4437;
  border-color: #db4437;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #db4437;
  border-color: #db4437;
}
