<div class="marcacao-escala-list">
  <h2>Marcações de Escala</h2>
  <ul>
    @for( marcacao of marcacoesEscala; track marcacao) {
    <li>
      ID: {{ marcacao.marcacaoEscalaId }}, Policial ID:
      {{ marcacao.policialId }}, Escala ID: {{ marcacao.escalaId }}, Local ID:
      {{ marcacao.localId }}
    </li>
    }
  </ul>
</div>

<div class="section-container">
  <div class="section">
    <h3>Marcação de Escala</h3>
    <div class="options">
      <button (click)="navigateTo('/home/marcacao-escala/new')">
        Cadastrar Nova Marcação
      </button>
      <button (click)="navigateTo('/home/marcacao-escala')">
        Listar Marcações Cadastradas
      </button>
    </div>
  </div>

  <div class="section">
    <h3>Policial</h3>
    <div class="options">
      <button (click)="navigateTo('/home/policial/new')">
        Cadastrar Novo Policial
      </button>
      <button (click)="navigateTo('/home/policial')">
        Listar Policiais Cadastrados
      </button>
    </div>
  </div>

  <div class="section">
    <h3>Local</h3>
    <div class="options">
      <button (click)="navigateTo('/home/local/new')">Cadastrar Novo Local</button>
      <button (click)="navigateTo('/home/local')">Listar Locais Cadastrados</button>
    </div>
  </div>

  <div class="section">
    <h3>Escala</h3>
    <div class="options">
      <button (click)="navigateTo('/home/escala/new')">
        Cadastrar Nova Escala
      </button>
      <button (click)="navigateTo('/home/escala')">Listar Escala</button>
    </div>
  </div>
</div>
