<div class="top-bar">
  <img src="assets/escala2.png" alt="Logo" class="logo">
  <h1>ESCALA DE SEGURANÇA</h1>
  <div class="date-time">
    <span>{{ currentDate }}</span>
    <span>{{ currentTime }}</span>
  </div>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="main-container">
  <div class="sidebar">
    <button mat-button *ngFor="let section of sections" (click)="selectSection(section)">
      {{ section.title }}
    </button>
  </div>

  <div class="content">
    <mat-card class="section" *ngIf="selectedSection">
      <mat-card-header>
        <mat-card-title>{{ selectedSection.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="options">
          <button mat-raised-button color="primary" (click)="navigateTo(selectedSection.newRoute)">
            {{ selectedSection.newLabel }}
          </button>
          <button mat-raised-button color="primary" (click)="navigateTo(selectedSection.listRoute)">
            {{ selectedSection.listLabel }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
