<div class="top-bar">
  <img src="assets/escala2.png" alt="Logo" class="logo">
  <h1>ESCALA DE SEGURANÇA</h1>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="section-container">
  <div class="section">
    <h3>Marcação de Escala</h3>
    <div class="options">
      <button (click)="navigateTo('/home/marcacao-escala/new')">
        Cadastrar Nova Marcação
      </button>
      <button (click)="navigateTo('/home/marcacao-escala')">
        Listar Marcações Cadastradas
      </button>
    </div>
  </div>

  <div class="section">
    <h3>Policial</h3>
    <div class="options">
      <button (click)="navigateTo('/home/policial/new')">
        Cadastrar Novo Policial
      </button>
      <button (click)="navigateTo('/home/policial')">
        Listar Policiais Cadastrados
      </button>
    </div>
  </div>

  <div class="section">
    <h3>Local</h3>
    <div class="options">
      <button (click)="navigateTo('/home/local/new')">Cadastrar Novo Local</button>
      <button (click)="navigateTo('/home/local')">Listar Locais Cadastrados</button>
    </div>
  </div>

  <div class="section">
    <h3>Escala</h3>
    <div class="options">
      <button (click)="navigateTo('/home/escala/new')">
        Cadastrar Nova Escala
      </button>
      <button (click)="navigateTo('/home/escala')">Listar Escala</button>
    </div>
  </div>
</div>
