.top-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4a76a1;
  color: white;

  .logo {
    height: 50px;
    margin-right: 10px;
    size: 100%;
  }

  h1 {
    margin: 0;
    font-size: 1.5em;
  }
}

/* Estilos para a barra de navegação */
.navbar {
  margin-bottom: 20px;
}

/* Estilos para os links da barra de navegação */
.nav-link {
  color: #007bff;
}

.nav-link:hover {
  color: #0056b3;
  text-decoration: none;
}

/* Estilos para a marca do navbar */
.navbar-brand {
  font-weight: bold;
  color: #007b;
}
