<div class="form-container">
  <mat-card>
    <h2>{{ editMode ? 'Editar Escala' : 'Cadastrar Nova Escala' }}</h2>
    <mat-card-content>
      <form [formGroup]="escalaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input placeholder="ID" formControlName="nome" />
        </div>
        <div class="form-group">
          <p>Dada de Entrada</p>
          <input placeholder="Data de Entrada" formControlName="dataEntrada" type="date" />
        </div>
        <div class="form-group">
          <p>Dada de Saida</p>
          <input placeholder="Data de Saída" formControlName="dataSaida" type="date" />
        </div>
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            {{ editMode ? 'Editar Escala' : 'Cadastrar Escala' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="outside-actions">
    <button mat-raised-button (click)="activateEditMode()">Editar Escala</button>
    <button mat-raised-button color="warn" *ngIf="editMode" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Deletar Escala
    </button>
    <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon>Voltar</button>
  </div>
</div>
