<div class="top-bar">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/escala2.png" alt="Logo" class="logo" />
  </a>
  <h1>ESCALA DE SEGURANÇA</h1>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="form-container">
  <mat-card>
    <h2>{{ editMode ? "Editar Escala" : "Cadastrar Nova Escala" }}</h2>
    <mat-card-content>
      <form [formGroup]="escalaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>Data de Entrada</p>
          <input
            placeholder="Data de Entrada"
            formControlName="dataHoraEntrada"
            type="datetime-local"
          />
        </div>
        <div class="form-group">
          <p>Data de Saída</p>
          <input
            placeholder="Data de Saída"
            formControlName="dataHoraSaida"
            type="datetime-local"
          />
        </div>
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            Salvar
          </button>
          <button
            mat-stroked-button
            color="warn"
            type="button"
            (click)="resetForm()"
          >
            Cancelar
          </button>
        </div>
      </form>
      <div class="back-link">
        <button mat-stroked-button color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon> Voltar ao Menu Anterior
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
