<div class="top-bar">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/escala2.png" alt="Logo" class="logo" />
  </a>
  <h1>ESCALA DE SEGURANÇA</h1>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="form-container">
  <mat-card>
    <h2>{{ editMode ? "Editar Local" : "Cadastrar Novo Local" }}</h2>
    <mat-card-content>
      <form [formGroup]="localForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input placeholder="Nome" formControlName="nome" />
        </div>
        <div class="form-group">
          <textarea
            placeholder="Descrição"
            formControlName="descricao"
          ></textarea>
        </div>
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            {{ editMode ? "Editar Local" : "Cadastrar Local" }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="outside-actions">
    <button mat-raised-button (click)="activateEditMode()">Editar Local</button>
    <button mat-raised-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>Voltar
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="editMode"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
      Deletar Local
    </button>
  </div>
</div>
