<div class="top-bar">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/escala2.png" alt="Logo" class="logo" />
  </a>
  <h1>ESCALA DE SEGURANÇA</h1>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="local-container">
  <div class="list-card">
    <div class="header">
      <h2>Listagem de Locais</h2>
      <button mat-fab style="float: right" (click)="onAdd()" class="add-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="localId">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let local">{{ local.localId }}</td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Nome
        </th>
        <td mat-cell *matCellDef="let local">{{ local.nome }}</td>
      </ng-container>

      <!-- Descricao Column -->
      <ng-container matColumnDef="descricao">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Descrição
        </th>
        <td mat-cell *matCellDef="let local">{{ local.descricao }}</td>
      </ng-container>

      <!-- Acoes Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef class="acoes-header">Ação</th>
        <td mat-cell *matCellDef="let local" class="acoes-cell">
          <button
            mat-icon-button
            color="primary"
            aria-label="Editar"
            (click)="onEdit(local.localId)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Remover"
            (click)="onDelete(local.localId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
      aria-label="Selecione página"
    >
    </mat-paginator>
  </div>
</div>
