<div class="locais-list">
  <h2>Lista de Locais</h2>
  <ul>
    @for(local of locais; track local){
    <li (onKeyPress)="selectLocal(local)">
      {{ local.nome }}
    </li>
    }
  </ul>
  <button (click)="selectLocal(null)">Novo Local</button>
</div>

@if(selectedLocal) {
<div class="local-form">
  <h2>{{ selectedLocal.localId ? "Editar Local" : "Novo Local" }}</h2>
  <form (ngSubmit)="saveLocal(selectedLocal)">
    <label for="nome">Nome:</label>
    <input
      type="text"
      id="nome"
      [(ngModel)]="selectedLocal.nome"
      name="nome"
      required
    />

    <button type="submit">Salvar</button>
    @if(selectedLocal.localId){
    <button type="button" (click)="deleteLocal(selectedLocal.localId)">
      Excluir
    </button>
    }
    <button type="button" (click)="selectedLocal = null">Cancelar</button>
  </form>
</div>
}
