<p>lista-escala works!</p>
<div class="escala-container">
  <div class="list-card">
    <h2>Listagem de Escalas</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data Entrada</th>
          <th>Data Saída</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let escala of escalas">
          <td>{{ escala.escalaId }}</td>
          <td>{{ escala.dataHoraEntrada }}</td>
          <td>{{ escala.dataHoraSaida }}</td>
          <td>
            <button (click)="onEdit(escala)">Editar</button>
            <button (click)="onDelete(escala.escalaId)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
