<div class="top-bar">
  <img src="assets/escala2.png" alt="Logo" class="logo">
  <h1>ESCALA DE SEGURANÇA</h1>
  <button mat-icon-button class="logout-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="escala-container">
  <div class="list-card">
    <div class="header">
      <h2>Listagem de Escalas</h2>
      <button mat-stroked-button color="primary" (click)="goHome()">Voltar</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data Entrada</th>
          <th>Data Saída</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let escala of escalas">
          <td>{{ escala.escalaId }}</td>
          <td>{{ escala.dataHoraEntrada }}</td>
          <td>{{ escala.dataHoraSaida }}</td>
          <td>
            <button (click)="onEdit(escala)">Editar</button>
            <button (click)="onDelete(escala.escalaId)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Próxima</button>
    </div>
  </div>

  <div *ngIf="editMode" class="form-card">
    <h2>{{ currentEscalaId ? "Editar Escala" : "Nova Escala" }}</h2>
    <form [formGroup]="escalaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome" required />
      </div>
      <div class="form-group">
        <label for="dataEntrada">Data Entrada:</label>
        <input type="date" id="dataEntrada" formControlName="dataEntrada" required />
      </div>
      <div class="form-group">
        <label for="dataSaida">Data Saída:</label>
        <input type="date" id="dataSaida" formControlName="dataSaida" required />
      </div>
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-stroked-button color="warn" type="button" (click)="resetForm()">Cancelar</button>
        <button *ngIf="editMode" mat-raised-button color="warn" type="button" (click)="onDelete(currentEscalaId!)">
          Excluir
        </button>
      </div>
    </form>
  </div>
</div>
